@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";
 @plugin "daisyui" {
  themes: light --default, dark ;
  /* themes: light --default; */
 }


 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
  --color-base-content: oklch(20% 0.05 240);
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: black;
  --color-secondary: teal;
  --color-base-content: red;
}

.font-urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


a.active{
  @apply  bg-[#9ECAD6] text-black underline font-semibold
}
